.first-row__areas-links {
  margin-right: 16px;
width: 221px;
height: 140px;
display: flex;
flex-direction: column;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
letter-spacing: 2px;
text-transform: uppercase;
justify-content: space-between;
}

